// /!\ tip with parcel : to have a bg image -> quotes ! ex : background: url("./bg.jpg") 

$primary-color: rgb(230, 230, 230);

// @keyframes demo {
//     from {transform: scale(0.9);}
//     50% {transform: scale(1);}
//     to {transform: scale(0.9);}
// }

body {
    background-color: $primary-color;
}

// h1 {
//     animation: demo 3s infinite;
// }
